[package]
name = "wstd"
version = "0.4.0"
license = "MIT OR Apache-2.0 OR Apache-2.0 WITH LLVM-exception"
repository = "https://github.com/yoshuawuyts/wstd"
documentation = "https://docs.rs/wstd"
description = "An async standard library for Wasm Components and WASI 0.2"
readme = "README.md"
edition = "2021"
resolver = "2"
keywords = ["WebAssembly", "async", "stdlib", "Components"]
categories = []
authors = [
    "Yoshua Wuyts <rust@yosh.is>"
]

[features]

[dependencies]
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
slab = "0.4.9"
url = "2.5.0"
wasi = "0.13.1"

[dev-dependencies]
